[Desktop Entry]
Type=Application
Name=Quantum Launcher
Comment=A simple, powerful Minecraft launcher
Categories=Game;
Icon=quantum-launcher
Exec=quantum-launcher
Terminal=false
