[Desktop Entry]
Type=Application
Version=1.5
Name=Quantum Launcher
Comment=A simple, fast and powerful Minecraft launcher
Exec=quantum_launcher
Icon=quantumlauncher
Terminal=false
Categories=Game;Application;
